<html>
<head>
<script src="{{ url_for('static', filename='js/script.js')}}"></script> 

<script>

//reçoit variable python
//traite variable python

var elem = '4'; //variable obtenue
let t = 0;
const yes = setTimeout(change_yes,t,elem);

</script>

</head>


<body>
<h1> Je suis dans dans highscores </h1>
<ul>
<li>
<a href='connection'>aller vers l accueil</a>
</li>
<li>
<a href='niveau'>commencer une nouvelle partie</a>
</li>
<li>
<a href='profile'>voir mon profil</a>
</li>
</ul>

	<section>
	<table>
	<tr>
	<th>Top</th>
	</tr>
	{{content}}
	</table>
	</section>

<section id="detail">
	</section>
</body>
</html>
