<html>
<head>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>

<script>

//Soit on montre ce qui doit être joué soit on attend le click d'une touche


var indice = "{{ indice }}";
var indice_int = parseInt(indice);
var melodie = '{{ melodie }}';
var melodie_int = JSON.parse(melodie); //Transformation en liste de int


var melodie_joue = []; //le coup

let temps = 0;
const desactiver_touches = setTimeout(touches_func, temps);

var i = 0; //iterateur utilisé pour l'affichage des images
var it = 0; //iterateur de coup(verification melodie)
let temps_partie = 1000;
const compteur_partie = setTimeout(touches_partie, temps_partie, i);

</script>
</head>
<body>


<h1> Je suis dans newgame</h1>
<ul>
<li><a href='new_user'>aller vers l accueil</a></li>
<li><a href='highscores'>aller vers highscores</a></li>
<li><a href='profile'>voir mon profil</a></li>
</ul>


<!--Audio-->

<audio id="do" src="../static/sound/do.mp3">
</audio>
<audio id="re" src="../static/sound/re.mp3">
</audio>
<audio id="mi" src="../static/sound/mi.mp3">
</audio>
<audio id="fa" src="../static/sound/fa.mp3">
</audio>
<audio id="sol" src="../static/sound/sol.mp3">
</audio>
<audio id="la" src="../static/sound/la.mp3">
</audio>
<audio id="si" src="../static/sound/si.mp3">
</audio>


<!--Le coup est communiqué à python pour qu'il puisse verifier s'il correspond à la melodie attendue-->

<form id = "liste_coup" method = "get" action = "/newgame">
<input type = "hidden" id = "coup" name = "coup" value = "coup">
</form>


<!--Touches cliquables-->

<input type= "image"
       id = "1"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : visible"
       onclick="clickit(1);JouerSon('do')">
<input type= "image"
       id = "2"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 150px; visibility : visible"
       onclick="clickit(2);JouerSon('re')">
<input type= "image"
       id = "3"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 250px; visibility : visible"
       onclick="clickit(3);JouerSon('mi')">
<input type= "image"
       id = "4"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 350px; visibility : visible"
       onclick="clickit(4);JouerSon('fa')">
<input type= "image"
       id = "5"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 450px; visibility : visible"
       onclick="clickit(5);JouerSon('sol')">
<input type= "image"
       id = "6"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 550px; visibility : visible"
       onclick="clickit(6);JouerSon('la')">
<input type= "image"
       id = "7"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 650px; visibility : visible"
       onclick="clickit(7);JouerSon('si')">

<!--Touches à jouer-->

<input type= "image"
       id = "8"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "9"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 150px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "10"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 250px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "11"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 350px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "12"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 450px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "13"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 550px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "14"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 650px; visibility : hidden" disabled = "disabled">



</body>
</html>
